
@{
    ViewBag.Title = "Home Page";
}
@section Styles {
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />
}

<br />
<br />
<br />


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<center>


    <img src="https://aclara.mx/img/clientes/vidanta_blanco.png" aling=" ">
    <center>

        <h2 style="color:rgb(0 0  0);">B I E N V E N I D O S</h2>
    </center>
</center>